<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserTask.Properties.Settings.blueNetConnectionString"
            connectionString="Data Source=DESKTOP-E7F0CA8\SQLEXPRESS21;Initial Catalog=blueNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UserTask.Properties.Settings.UserTaskDBConnectionString"
            connectionString="Data Source=DESKTOP-E7F0CA8\SQLEXPRESS21;Initial Catalog=UserTaskDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>